@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: hsl(0, 0%, 100%);
    grid-template-rows: 1fr auto;
    padding:1rem;
    border-radius: 15px;
    max-width: 300px;
}


.container img{
    border-radius: 15px;
    max-width: 300px;
    height: auto;
}

.text{
    text-align: center;
    padding: 0 1rem;
}

.text h2{
    font-weight: 700px;
    color: hsl(218, 44%, 22%);
}

.text p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 1.5rem;
}
.attribution a { color: hsl(228, 45%, 44%); }

